body {
  background-color: #F7F7F7;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #FFF;
  width: 800px;
  padding: 20px;
  border: 1px solid #CCC;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #CCC;
  text-align: center;
}

.links {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.links a {
  padding: 10px 20px;
  border: 1px solid #CCC;
  border-radius: 10px;
  text-decoration: none;
  color: #333;
  margin: 0 10px;
}

.links a:hover {
  background-color: #EEE;
}

.picture {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: hidden;
  margin: 20px;
}

.picture img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
