body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}

.container p {
    text-align: justify;
}

img {
    width: 100%;
    max-width: 300px;
    max-height: 300px; /* Change this to desired value */
    object-fit: cover; /* This makes sure your image keeps its aspect ratio */
}

.links {
    margin-top: 20px;
}

.links a {
    margin-right: 10px;
    text-decoration: none;
    color: blue;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}
