body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    width: 50%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
}

p {
    text-align: justify;
    font-family: Georgia, serif;
}

img {
    width: 100%;
    max-width: 300px;
    max-height: 300px; /* Change this to desired value */
    object-fit: cover; /* This makes sure your image keeps its aspect ratio */
}

.links {
    margin-top: 20px;
}

.links a {
    display: inline-block;
    margin-bottom: 10px;
    text-decoration: none;
    color: darkgreen;
    font-weight: 525;
}

.divider {
    margin-left: 1px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}

h1 {
    font-weight: 1000;
    font-family: "Menlo", monospace;
}

footer {
    font-size: 10px; /* Adjust to desired size */
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

@media screen and (min-width: 600px) {
    footer {
        position: absolute;
        bottom: 0;
    }
}
